:root {
  --background-color-2: rgb(39, 39, 39);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .picture {
    align-items: center;
  }

  .download-section {
    justify-content: space-between;
  }
  .download-section .game iframe:first-child {
    display: block;
  }
  .download-section .game iframe:last-child {
    display: none;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
  /* HEADER */
  .hamburguer {
    display: none;
  }
  .header-left {
    order: 1;
  }
  .header-right {
    order: 3;
  }

  .navigation-menu {
    order: 2;
    height: 50px;
    width: fit-content;
    padding: 0 2rem;
    justify-self: center;
    background-color: var(--background-color-2);
  }

  .navigation-menu.active {
    height: initial;
  }

  .navigation-menu nav {
    height: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }



  /* CONTENT */
  .content-and-sidebar {
    display: grid;
    grid-template-columns: 100px minmax(0, 1fr) 100px;
    gap: 40px;
  }

  .sidebar {
    display: flex;
  }





  /* FOOTER */
  footer .info {
    gap: 30px;
  }
  
  footer .course-info {
    align-items: flex-start;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}