/* xs devices */
@media (max-width: 575px) {
    #skills-description-desktop {
        display: none;
    }

     #contactform-inside-cont {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    #contactform-inside-cont, .form-heading {
        margin-left: 10%;
    }

    .submit-btn {
        margin-left: 15%;
    }

    .sm-icon {
        width: 20%;
    }  
}

/* small devices (landscape phones) */
@media (min-width: 576px) {
    #skills-description-desktop {
        display: none;
    }

    .submit-btn {
        align-self: center;
        width: 15%;
        height: 8vh;
    }

    .footer-flex { 
        padding: 5vh 10vw;
    }

    .sm-icon {
        margin-left: 3vw;
    }
    
}

/* medium devices (tablets) */
@media (min-width: 768px) {
    .skill {
        width: 70%;
    }

    #skills-description-desktop {
        display: none;
    }
    
    .submit-btn {
        align-self: center;
        width: 15%;
        height: 5vh;
    }

    .form-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
    }

    #contactform-inside-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

/* large devices (desktops) */
@media (min-width: 992px) {
    .header-nav .link {
        padding: 3vh 4vh;
        font-size: large;
    }

    .skill {
        width: 35%;
    }

    #skills-description-mobile {
       display: none;
    }

    #skills-description-desktop {
        display: contents;
    }

    .form-cont {
        margin: 10vh 4vw;
    }

    .submit-btn {
        align-self: center;
        width: 15%;
        height: 8vh;
    }

    .form-heading {
        padding-left: 2vw;
    }

    .form-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
    }

    #contactform-inside-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
}

/* XL devices (large desktops) */
@media (min-width: 1200px) {
    .header-nav .link {
        padding: 3vh 4vh;
        font-size: large;
    }

    #skills-description-mobile {
        display: none;
    }

    .submit-btn {
        align-self: center;
        width: 15%;
        height: 8vh;
    }

    .form-heading {
        padding-left: 2vw;
    }

    .form-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
    }

    #contactform-inside-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

/* XXL devices (larger desktops) */
@media (min-width: 1400px) {
    .header-nav .link {
        padding: 3vh 4vh;
        font-size: large;
    }

    #skills-description-mobile {
        display: none;
    }

    .submit-btn {
        align-self: center;
        width: 15%;
        height: 8vh;
    }

    .form-heading {
        padding-left: 2vw;
    }

    .form-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
    }

    #contactform-inside-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}