  :root {
    --background-color-1: black;
    --background-color-2: rgb(39, 39, 39);
    --font-color-1: white;
    --magenta: rgb(218, 46, 218);
    --cyan: rgb(44, 236, 236);
    --yellow: rgb(233, 233, 23);
  }


/* GLOBAL STYLES
-------------------------------------------------- */
html,body {
  font-size: 25px;
  scroll-padding-top: 50px;
}

body {
  background-color: var(--background-color-1);
  color: var(--font-color-1);
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

main {
  padding: 0 1rem;
}


p {
  margin-top: auto;
}

li {
  line-height: 30px;
}

a {
  color: var(--cyan);
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: var(--magenta); 
}

nav a {
  color: var(--font-color-1);
}

svg {
  width: 30px;
  stroke: var(--background-color-1);
  fill: var(--font-color-1);
  transition: .3s;
}

svg:hover {
  fill: var(--magenta)
}

.text-highlight {
  color: var(--yellow);
}

a .text-highlight:hover {
  color: var(--magenta); 
}

/* For content in sections */
.display-row {
  display: flex;
  flex-flow: row wrap;
  gap: max(30px);
  align-items: center;
}

.display-row-reverse {
  display: flex;
  flex-flow:row-reverse wrap;
  gap: max(30px);
  align-items: center;
}

.display-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

.align-left {
  align-items: left;
}

.flex-2 {
  flex:2 !important; 
}


/* CUSTOMIZE THE HEADER
-------------------------------------------------- */

header {
  position: fixed;
  top: 0;
  background-color: var(--background-color-2);
  box-shadow: 0 -3px 20px 5px rgb(171, 171, 171);
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
}


.header-left, .header-right {
  max-width: 50%;
  height: 50px;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
  background-color:var(--background-color-2);
}

.header-left {
  padding: 0 8px;
}

header img {
  max-height: 40px;
  max-width: 100%;
}

.header-link {
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color-1);
  transition: 0.25s;
}

.header-link:hover {
  background-color: var(--font-color-1);
  color: var(--yellow);
}

/* Nav on Small screen*/
header .hemera-logo {
  margin-left: auto;
}
header .game-logo {
  margin-right: auto;
}

.hamburguer .close-button {
  display: none;
}
.hamburguer .close-button.active {
  display: block;
}
.hamburguer .bars-button.active {
  display: none;
}

.navigation-menu {
  height: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color-1);
  color: var(--font-color-1);
  transition: .3s ease;
  scroll-behavior: n;
}

.navigation-menu.active {
  height: 100vh;  
  overflow: hidden;
}

.navigation-menu nav {
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

.navigation-menu a {
  padding: 0 1rem;
}



/* MAIN BODY 
-------------------------------------------------- */
.content-and-sidebar {
  display: block;
  margin: 50px auto;
}

.sidebar {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1000px;
  justify-self: center;
}

/* CONTENT SECTIONS */

.section {
  display: flex;
  flex-direction: column;
}


.home-section {
  padding-top: 1rem;
}

.content-item {
  flex:1;
  min-width: max(200px);
}

.content-item img.limit-width {
  max-width: min(400px, 100%);
}

.description {
  text-align: justify;
}



.cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.picture, .picture img {
  max-width: 100%;
}

.about-section .picture img {
  max-width: 70%;
}


/* DIVIDER */
.section-divider {
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

hr {
  width: 100%;
  height: 2px;
}

.section-divider img {
  max-width: 50vw;
}




/* FOOTER
------------------------- */
footer {
  padding: 1rem;
  max-width: 100%;
}

footer hr {
  margin-bottom: 2rem;
}

footer  p {
  font-size: 0.8rem;
  margin: 0 0 1rem 0;
}

footer .info {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  justify-content: space-around;
}

footer .info > * {
  min-width: 200px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

/* Cooperativa Rapaz logo */

footer .logo {
  display: flex;
  flex-flow: row nowrap;
  align-items:start;
  justify-content: center;
  gap: 10px;
  flex: 1.5;
}

footer .logo > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .logo img {
  max-height: 50px;
  width: auto;
}

/* Social media */
footer .socials {
  align-items: center;
}

footer .socials .icons {
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: center;
  gap: 20px;
}

footer svg {
  height: 1.5rem;
  width: auto;
}

footer svg:hover {
  scale: 1.15;
}

/* Info académica */
footer .course-info {
  align-items: center;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

/* @media (min-width: 40em) { */
  /* Bump up size of carousel content */
  /* .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
} */

/* @media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
} */
